html {
  height: 100%;
}

body {
  background-color: #0c2027;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ttt_buttonspace {
  width: 300px;
  height: 300px;
  border: 5px solid #12313b;
  border-radius: 12px;
  background-color: #1f5768;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-flow: row wrap;
}

#ttt_button {
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: #288a2b;
  border: 4px solid #43a047;
  border-radius: 40px;
  outline: none;
}

#ttt_button:focus{
  outline: none;   
}

img {
  padding-top: 4px;
}