.image-hover-menu {
  position:relative;
  margin: 8px;
  min-width: 300px;
  max-width: 480px;
  max-height: 300px;
  text-align: center;
  box-sizing: border-box;
  border: 0px solid black;
}

.image-hover-menu * {
  box-sizing: border-box;
}

.image-hover-menu img {
  position: relative;
  max-width: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.image-hover-menu div {
  position: absolute;
  top: 0;
  left: -80px;
  width: 100px;
  height: 100%;
  backgorund: #000000;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-hover-menu div a {
  display: block;
  line-height: 0;
  color: #fff;
  text-decoration: none;
  writing-mode: vertical-lr;
  opacity: 0.8;
  padding: 5px 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.image-hover-menu div a:hover {
  text-decoration: underline;
  writing-mode: vertical-lr;
}

.image-hover-menu:hover img {
  opacity: 0.8;
  right: -20px;
}

.image-hover-menu:hover div {
  left: 0;
  opacity: 1;
}
